<div class="page">
  <h1><span>Input-Stars Component</span> Demo</h1>

  <p>InputStarsComponent integrates easily with both Reactive and Template-driven Angular forms. This demo shows how to add an "input-stars" element to a Reactive Form.</p>

  <form name="myForm" id="myForm" [formGroup]="myForm">
    <h2>Component</h2>
    <pre ngNonBindable>
this.myForm = this.formBuilder.group(&#123; myStars: [null, [ Validators.required ]] &#125;)</pre>

    <h2>Template</h2>
    <pre ngNonBindable>&lt;form name="myForm" id="myForm" [formGroup]="myForm"&gt;
  &lt;p&gt;Rate It!&lt;/p&gt;
  &lt;input-stars formControlName="myStars"
    [max]="5"
    &gt;&lt;/input-stars&gt;
  &lt;p&gt;You've given it {{ myForm.get('myStars').value || 'no' }}!&lt;/p&gt;
&lt;/form&gt;</pre>

    <h2>Demo</h2>
    <div class="example">
      <p>Rate It!</p>
      <input-stars formControlName="myStars"
        [max]="5"
        ></input-stars>
      <p>You've given it {{ myForm.get('myStars').value || 'no' }} stars!</p>
    </div>
  </form>
  <p>The rating is <strong>{{ myForm.get('myStars').pristine ? 'untouched' : 'touched' }}</strong>.<br>
  The field is <strong>{{ myForm.get('myStars').valid ? 'valid' : 'invalid' }}</strong>; errors: <code>{{ myForm.get('myStars').errors | json}}</code></p>
  

  <p><button (click)="reset()">Reset Demo</button></p>
</div>